<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href="/css/styles.css">
</head>
    <title>404</title>

<body>
    <div class ="main">
        {{>header}}
    <p>{{message}}</p>

    </div>
    
    {{>footer}}

</body>

</html>